{% extends "myapp/base.html" %}

{% block title %}Gestionar indicadores{% endblock %}

{% block content %}
<div class="container mt-3">
  <h4 class="mb-4">Gestionar indicadores</h4>
  <div class="table-responsive">
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            
            <th>Objetivo</th>
            <th>Indicador</th>
            <th>Descripción</th>
            <th>Fuente</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% for indicador in indicadores %}
            <tr>

                <td>{{ indicador.id_objetivo }}</td>
                <td>{{ indicador.nombre_indicador }}</td>
                <td>{{ indicador.descripcion_indicador }}</td>
                <td>{{ indicador.fuente }}</td>
                <td>
                <a href="{% url 'editar_indicador' indicador.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <form method="post" action="{% url 'eliminar_indicador' indicador.pk %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
  <a href="{% url 'crear_indicador' %}" class="btn btn-primary">Crear Indicador</a>
</div>
{% endblock %}
